@font-face {
    font-family: 'UTMAvoBold';
    src: url('../fonts/UTMAvoBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UTMAvoBold.woff') format('woff'),
        url('../fonts/UTMAvoBold.woff2') format('woff2'),
        url('../fonts/UTMAvoBold.ttf') format('truetype'),
        url('../fonts/UTMAvoBold.svg#UTMAvoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UTMAvo';
    src: url('../fonts/UTMAvo.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UTMAvo.woff') format('woff'),
        url('../fonts/UTMAvo.woff2') format('woff2'),
        url('../fonts/UTMAvo.ttf') format('truetype'),
        url('../fonts/UTMAvo.svg#UTMAvo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-Bold';
    src: url('../fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Oswald-Bold.woff') format('woff'),
        url('../fonts/Oswald-Bold.woff2') format('woff2'),
        url('../fonts/Oswald-Bold.ttf') format('truetype'),
        url('../fonts/Oswald-Bold.svg#Oswald-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('../fonts/JosefinSans-Regular?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-Regular.woff') format('woff'),
        url('../fonts/JosefinSans-Regular.woff2') format('woff2'),
        url('../fonts/JosefinSans-Regular.ttf') format('truetype'),
        url('../fonts/JosefinSans-Regular.svg#JosefinSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans-Italic';
    src: url('../fonts/JosefinSans-Italic?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-Italic.woff') format('woff'),
        url('../fonts/JosefinSans-Italic.woff2') format('woff2'),
        url('../fonts/JosefinSans-Italic.ttf') format('truetype'),
        url('../fonts/JosefinSans-Italic.svg#JosefinSans-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
