$UTMAvoBold:'UTMAvoBold';
$UTMAvo:'UTMAvo';
$Oswald_Bold:'Oswald-Bold';
$JosefinSans_Regular:'JosefinSans-Regular';
$JosefinSans_Italic:'JosefinSans-Italic';
//color
/*$green:#92c01f;*/

$main_bg :#e2e3e3;
$main_color:#cc2233;
$color_active:#cc2233;
$bg_form: #fefdfd;