.comment-pages-wrapper {
    background-color: #f6f6f7;
    transform: translateY(-50px);
    .container {
        .comment-display {
            .count-comment {
                h4 {
                    font-size: 17px;
                    font-weight: bold;
                }
            }
            .each-comment {
                border-top: solid 3px #999;
                padding-top: 15px;
                img {
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                }
                strong {
                    font-size: 18px;
                }
                span {
                    padding-left: 30px;
                    color: #3c3c3c;
                    font-size: 12px;
                }
                p.comment-text {
                    margin-top: -10px;
                    line-height: 20px;
                    padding: 5px;
                }
                a {
                    .reply {
                        color: green;
                        margin-top: -25px;
                    }
                }
            }
            .chil-comment {
                border-top: solid 1px #9d9d9e;
                padding-top: 10px;
                padding-left: 40px;
                img {
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                }
                strong {
                    font-size: 18px;
                }
                span {
                    padding-left: 30px;
                    color: #3c3c3c;
                    font-size: 12px;
                }
                p.comment-text {
                    margin-top: -10px;
                    line-height: 20px;
                    padding: 5px;
                }
                span {
                    color: green;
                }
                .comment-sub {
                    .sub-content {
                        form {
                            .comment-content {
                                textarea {
                                    width: 100%;
                                    border: solid 1px #e8e1e1;
                                    height: 40px;
                                    padding: 3px;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                    .publish-comment {
                        position: relative;
                        text-align: right;
                        button {
                            margin: 7px;
                            width: 10%;
                            padding: 4px;
                            border-radius: 3px;
                            position: absolute;
                            bottom: 3px;
                            right: -6px;
                            height: 40px;
                        }
                    }
                }
            }
        }
        .comment {
            border: solid 1px #e8e1e1;
            border-radius: 3px;
            background-color: #fff;
            padding: 10px;
            .top-content {
                a {
                    color: black;
                    font-size: 15px;
                    &:hover {
                        color: #e8e1e1;
                    }
                }
                hr {
                    color: #e8e1e1;
                }
            }
            .center-content {
                .avatar {
                    img {
                        border-radius: 50%;
                        width: 40px;
                        height: 30px;
                        margin: 5px;
                    }
                }
                .comment-content {
                    textarea {
                        width: 100%;
                        border: solid 2px #e8e1e1;
                        margin: 15px 0;
                    }
                }
            }
            .publish-comment {
                text-align: right;
                margin-right: 80px;
                button {
                    border-radius: 3px;
                }
            }
        }
    }
}
h5.authentication-notify {
    transform: translateY(-65px);
}
