.create-log-wrapper {
    .container {
        .content {
            position: relative;
            .top-info {
                padding: 40px 0;
                h3 {
                    font-weight: bold;
                }
            }
            .bottom-info {
                .input-field {
                    position: relative;
                    label {
                    }
                    input {
                        width: 100%;
                    }
                    span.left-span {
                        position: absolute;
                        top: 56px;
                        left: 0;
                    }
                    span.right-span {
                        position: absolute;
                        top: 56px;
                        right: 0;
                    }
                    .right-input {
                    }
                }
            }
            .button-process {
                text-align: center;
                padding: 30px 0;
                position: relative;
                button {
                    margin: 0 30px;
                    border-radius: 10px;
                }
                .dot-loading{
                    position: absolute;
                    top: 50px;
                    left: 50%;
                    transform: translate(-52%,-50%);
                    img{
                        max-width: 25%;
                    }
                }
            }
        }
    }
}
