.extension-wrapper {
    background-color: #fff;
    .extension-content {
        position: fixed;
        top: 35%;
        right: 30px;
        a {
            position: relative;
            text-decoration: none;
            svg, i {
                font-size: 15px;
                color: black;
                position: absolute;
                top: 20px;
                right: -31px;
                transform: translate(-40%, -55%);
            }
        }
        .extension {
            margin: 10px 0;
            width: 40px;
            height: 40px;
            border: solid 1px transparent;
            border-radius: 50%;
            background-color: #f6f6f6;
            &:hover{
                background-color: black;
                svg,i{
                    color: #fff;
                }
            }
        }
        .scroll-to-top {
            svg, i {
                position: absolute;
                top: 20px;
                right: -29px;
            }
        }

    }
}
