.extension-wrapper {
    background-color: #fff;
    .extension-content {
        position: fixed;
        top: 35%;
        right: 30px;
        a {
            position: relative;
            text-decoration: none;
            svg, i {
                font-size: 15px;
                color: black;
                transform: translate(5px, 1px);
            }
        }
        .extension {
            margin: 10px 0;
            width: 25px;
            height: 25px;
            border: solid 1px transparent;
            border-radius: 50%;
            background-color: #f6f6f6;
            &:hover{
                background-color: black;
                svg,i{
                    color: #fff;
                }
            }
        }
    }
}
