.list-log-daily-wrapper {
    .container {
        .content {
            .title {
                h2 {
                    font-family: cursive;
                    font-weight: bold;
                }
            }
            .log {
                .log-content {
                    .each-log {
                        a {
                            svg,i{

                            }
                            h3.title {
                                font-size: 20px;
                                font-weight: bold;
                                font-style: oblique;
                                line-height: 0;
                                svg,i{
                                    color: red;
                                }
                            }
                            span.author {
                                padding: 0 40px;
                                svg,i{

                                }
                            }
                            span.read-more {
                                svg,i{

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
