.list-log-daily-wrapper {
    .container {
        .content {
            .title {
                h2 {
                    font-family: cursive;
                    font-weight: bold;
                    svg, i {
                        color: green;
                    }
                }
            }
            .log {
                .log-content {
                    .each-log {
                        border-top: solid 1px #999;
                        padding: 15px 0;
                        h3.title {
                            font-size: 20px;
                            font-weight: bold;
                            font-style: oblique;
                            line-height: 0;
                            svg, i {
                                color: red;
                            }
                        }
                        span {
                            padding: 0 40px;
                        }
                        .log-body {
                            text-align: justify;
                            span {
                                font-size: 17px;
                            }
                        }
                    }
                    #remove-row {
                        button#btn-more {
                            border-radius: 10px;
                        }
                    }
                    .notify-log{
                        h2{
                            font-family: cursive;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
