.wife-wrapper{
    .container{
        .main-content{
            margin-top: 30px;
            .swiper-container {
                width: 100%;
                padding-top: 50px;
                padding-bottom: 50px;
                .swiper-slide {
                    background-position: center;
                    background-size: cover;
                    width: 300px;
                    height: 450px;
                }
            }

        }
        .wife-gallery{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
            align-items: center;
            justify-items: center;
            .gallery-image{
                img{
                    border: 1px solid #ccc;
                    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
                    max-width: 100%;
                    -webkit-transform: scale(0.9);
                    transform: scale(0.9);
                    -webkit-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                }
                &:hover{
                    img{
                        -webkit-transform: scale(1.3);
                        transform: scale(1);
                    }
                }
            }
        }
        .load-more{
            button{
                width: 100%;
                border-radius: 5px;
            }
        }
    }
}
